# Rust
windows-sender/target/

# Release artifacts
dist/

# Swift
mac-receiver/.build/
mac-receiver/build/
mac-receiver/.swiftpm/
*.xcuserstate
xcuserdata/

# macOS
.DS_Store
.AppleDouble
._*

# Editors
.idea/
.vscode/
*.swp
